
{% extends "::layout.html.twig" %}
{% block title %}
  Reseau - {{ parent() }}
{% endblock %}
{% block body %}
  <div class="row-fluid">


  </div>

    <div class="row-fluid">

        <div class="span3">
        {% block body_menu %}
  <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Services Disponibles :</li>
              <li><a href="{{ path('Projet_reseauGlobal') }}">Information du réseau</a></li>
              <li><a href="#">Information libre-service</a></li>
              <li class="nav-header">Autres Utilisations :</li>
              <li><a href="#">Tchat</a></li>
              <li><a href="#">Emploi du temps</a></li>
              <li><a href="#">Trucs et astuces</a></li>
              <li><a href="#">Easter eggs</a></li>
            </ul>
          </div><!--/.well -->
{% endblock %}

        </div><!--/span-->
        <div class="span9">
        {% block body_content %}
        {% endblock %}
          
        </div><!--/span-->
     </div><!--/row-->

{% endblock %}
