
{% extends "::layout.html.twig" %}
{% block title %}
  Reseau - {{ parent() }}
{% endblock %}
{% block body %}
  <div class="row-fluid">

   {% block path %}
 <a href="{{ path('Projet_accueil') }}">Projet</a>
  {% endblock %}

  </div>

    <div class="row-fluid">

        <div class="span3">
        {% block body_menu %}
  <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Services</li>
              <li><a href="{{ path('Projet_reseauGlobal') }}">Info Reseau</a></li>
              <li><a href="#">Info Libre Service</a></li>
              <li class="nav-header">Divers</li>
              <li><a href="#">Tchat</a></li>
              <li><a href="#">Votre Emploi du temps</a></li>
              <li><a href="#">Truc et astuces reseau</a></li>
              <li><a href="#">Easter Eggs</a></li>
            </ul>
          </div><!--/.well -->
{% endblock %}

        </div><!--/span-->
        <div class="span9">
        {% block body_content %}
        {% endblock %}
          
        </div><!--/span-->
     </div><!--/row-->

{% endblock %}