{% extends "ProjetReseauBundle::layout.html.twig" %}
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{% block path %}
	{{ parent() }}/<a href="{{ path('Projet_accueil') }}">Accueil</a>/
{% endblock %}
{% block body_content%}

 <div class="hero-unit">
            <h1>Bienvenue</h1>
            <p>Site pour simplifier l'administration du réseau de l'IUT informatique.</p>
            <p><a href="#" class="btn btn-primary btn-large">Documentation</a></p>
          </div>
{% endblock %}



